@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Outfit;
    box-sizing: border-box;
}

body {
    background: #cccbcbda;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    color: #fff;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    background: #131921;
    justify-content: space-between;
}

.nav-country {
    display: flex;
    font-size: 13px;
    align-items: end;
    color: #c4c4c4;
    margin-left: 15px;
}

.nav-country h1 {
    color: #fff;
    font-size: 14px;
}

.nav-search {
    flex: 1;
    color: gray;
    display: flex;
    max-width: 1000px;
    margin-left: 15px;
    border-radius: 4px;
    background: #fff;
    align-items: center;
}

.nav-search-category {
    gap: 5px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    background: #e5e5e5;
    border-radius: 4px 0 0 4px;
}

.nav-search-input {
    width: 100%;
    border: none;
    outline: none;
    padding-left: 20px;
}

.nav-search-icon {
    padding: 8px;
    max-width: 41px;
    background: #ffd64f;
    border-radius: 0 4px 4px 0;
}

.nav-lang {
    gap: 2px;
    display: flex;
    font-weight: 600;
    margin-left: 15px;
    align-self: center;
}

.nav-text {
    margin-left: 15px;
}

.nav-text p {
    font-size: 10px;
}

.nav-text h1 {
    font-size: 14px;
}

.nav-cart {
    display: flex;
    margin: 0px 15px;
    align-items: center;
}

.nav-bottom {
    gap: 20px;
    display: flex;
    color: #fff;
    font-size: 15px;
    padding: 8px 20px;
    align-items: center;
    background: #232f3e;
}

.nav-bottom div {
    gap: 5px;
    display: flex;
    font-weight: 500;
    align-items: center;
}

.header-slider ul {
    display: flex;
    overflow-y: hidden;
}

.header-img {
    max-width: 100%;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent);
}

.header-slider a {
    top: 20%;
    z-index: 1;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    padding: 5vh 1vw;
    position: absolute;
    color: #0000007b;
    text-decoration: none;
    background: #ffffff4f;
}

.control_next {
    right: 0;
}

.box-row {
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
    margin: 20px 30px;
    justify-content: space-between;
}

.box-col {
    gap: 10px;
    z-index: 1;
    display: flex;
    max-width: 24%;
    min-height: 200px;
    padding: 15px 20px;
    background: #fff;
    flex-direction: column;
}

/* .box-col img {
    max-width: 100%;
} */

.box-col a {
    font-size: 13px;
    color: #009999;
    font-weight: 500;
}

.header-box {
    margin-top: -20vw;
}

.products-slider {
    padding: 20px;
    margin: 0 30px;
    background: #fff;
    margin-bottom: 15px;
}

.products-slider .product {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;
}

.products-slider .product img {
    max-width: 200px;
    max-height: 200px;
}

.products-slider .product::-webkit-scrollbar {
    display: none;
}

.products-slider-with-price {
    padding: 20px;
    margin: 0 30px;
    background: #fff;
    margin-bottom: 15px;
}

.products-slider-with-price .products {
    gap: 10px;
    display: flex;
    overflow-x: auto;
    margin-top: 10px;
}

.products-slider-with-price .products::-webkit-scrollbar {
    display: none;
}

.product-card {
    display: flex;
    min-width: 210px;
    justify-content: end;
    background: #fbfbfb;
    flex-direction: column;
}

.product-card img {
    width: 110px;
    margin: 0 50px;
}

.product-card p {
    color: #fff;
    margin: 8px 0;
    font-size: 13px;
    padding: 2px 5px;
    border-radius: 2px;
    display: inline-block;
    background: #be0b3b;
}

.product-offer span {
    font-size: 13px;
    color: #be0b3b;
    font-weight: 500;
}

.product-price {
    color: gray;
    font-size: 13px;
}

.product-card h4 {
    font-size: 15px;
    font-weight: 400;
    color: #525252;
}

footer {
    display: flex;
    color: #fff;
    padding: 20px 60px;
    align-items: center;
    background: #131921;
    justify-content: space-between;
}

@media (max-width: 833px) {
    body {
        width: 171%;
    }

    .buy {
        width: 235% !important;
    }
}

@media (max-width: 390px) {
    body {
        width: 299%;
    }

    .buy {
        width: 280% !important;
    }

    .cart,
    .BUY {
        font-size: 10px !important;
    }

    .dec-product .Img img {
        width: 150px !important;
    }
}

@media (max-width: 489px) {
    .BODY {
        width: 330%;
    }
}

.BODY {
    background: #fff;
}

.dec-product {
    display: flex;
    padding: 35px 15px;
    justify-content: space-between;
}

.dec-product .Img img {
    width: 290px;
    object-fit: contain;
    border-radius: 10px;
}

.dec-product h3 {
    font-weight: 400;
}

.dec-product p {
    display: flex;
    font-size: 15px;
    cursor: pointer;
    margin-top: 7px;
    align-items: center;
}

.dec-product p img {
    width: 90px;
}

.dec-product .p {
    width: 19%;
    color: #fff;
    padding-top: 3px;
    padding-left: 4px;
    margin-right: 5px;
    border-radius: 5px;
    padding-bottom: 3px;
    background: #be0b3b;
}

.Bengoo {
    margin-top: 15px;
    color: #009999;
}

.rate {
    color: #009999;
    padding-left: 5px;
}

.month {
    margin-bottom: 10px;
}

.sp {
    color: coral;
    margin-top: 15px;
}

.price {
    font-size: 13px;
    font-weight: 200;
}

.SP {
    text-decoration: line-through;
}

.col {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.row .col img {
    width: 35%;
    padding-top: 10px;
    padding-right: 10px;
}

.buy {
    height: 0%;
    width: 125%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #00000052;
}

#Quantity {
    width: 98%;
    padding: 2px;
    outline: none;
    margin-top: 15px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.cart {
    color: #fff;
    display: flex;
    font-size: 15px;
    padding-block: 7px;
    border-radius: 30px;
    align-items: center;
    background: #d7b120;
    justify-content: center;
}

.BUY {
    color: #fff;
    display: flex;
    font-size: 15px;
    padding-block: 7px;
    border-radius: 30px;
    align-items: center;
    background: #d98d00;
    justify-content: center;
}

.signin {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.SIGN {
    width: 30%;
    padding: 15px;
    margin-top: 15px;
    border-radius: 3px;
    border: 1px solid #4a4a4a52;
}

.inp {
    width: 100%;
    height: 30px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

.o {
    font-size: 13px;
    margin-top: 15px;
    text-align: center;
}